{% extends "base.html" %}

{% block content %}

<div class="converterBox">
  
  <div class="fileBox" id="uploadBox">
    <div class="hl">Uploaded</div>
    {% if uplFlAry|length > 0 %}
      <div class="allBar">
        <input type="checkbox" id="chk_all_upl" onchange="switch_check_all(this, 'uploadBox')"/>
        <label for="chk_all_upl">select all</label>
      </div>
    {% endif %}
    {% for fl in uplFlAry %}
      <div class="fileBar">
        <input type="checkbox" name="{{fl}}" id="{{fl}}" />
        <label for="{{fl}}">{{fl}}</label>
      </div>
    {% endfor %}  
  </div>

  <div class="fileBox" id="convertBox">
    <div class="hl">Converted</div>
    {% if convertFlAry|length > 0 %}
      <div class="allBar">
        <input type="checkbox" id="chk_all_convert" onchange="switch_check_all(this, 'convertBox')"/>
        <label for="chk_all_convert">select all</label>
      </div>
    {% endif %}
    {% for fl in convertFlAry %}
      <div class="fileBar">
        <input type="checkbox" name="{{fl}}" id="{{fl}}" />
        <label for="{{fl}}">{{fl}}</label>
      </div>
    {% endfor %}  
  </div>

  <div class="btnFrame">
    <button onclick="go_to('/upload')">Upload</button>
    <button onclick="send_to_convert()">Convert</button>
    <button onclick="send_delete('uploaded')">Delete</button>
  </div>

  <div class="btnFrame">
    <button onclick="send_to_download()">Download</button>
    <button onclick="send_delete('converted')">Delete</button>
  </div>

  <img class="optIcon" src="{{ url_for('static', filename='gear_icon.svg') }}" onclick="switch_optframe()" />

  <div class="optFrame" id="optFrame">
    <table><tr>
      <th>Compression Rate:</th>
      <td>
        <select id="compressionRate">
          <option value="70">75%</option>
          <option value="75" selected>75%</option>
          <option value="80">80%</option>
          <option value="85">85%</option>
          <option value="90">90%</option>
          <option value="95">95%</option>
          <option value="98">98%</option>
        </select>
      </td>
      <td></td>
      <th>Download Format:</th>
      <td>
        <select id="downloadFormat">
          <option value="zip" selected>Zip</option>
          <option value="tar.gz">Tar GZip</option>
        </select>
      </td>
    </tr></table>
   
  </div>

</div>



<script>

  //---------------------------------------------------
  function switch_check_all(elm, boxId){
    var chkState = elm.checked;
    var boxElm = document.getElementById(boxId);
    var chkBoxAry = boxElm.getElementsByTagName('INPUT');
    for (let i = 0; i < chkBoxAry.length; i++) {
      chkBoxAry[i].checked = chkState;
    } 
  }

  //---------------------------------------------------
  function switch_optframe(){
    var optFrame = document.getElementById("optFrame");
    if(optFrame.style.display == 'block'){
      optFrame.style.display = 'none';
    }
    else{
      optFrame.style.display = 'block';
    }
  }

  //---------------------------------------------------
  function send_to_convert(){
    var boxElm = document.getElementById('uploadBox');
    var chkBoxAry = boxElm.getElementsByTagName('INPUT');
    
    var compressionRate = document.getElementById("compressionRate").value;
  
    var postData = {
      compression: compressionRate,
      images: []
    }

    for (let i = 0; i < chkBoxAry.length; i++) {
      if(chkBoxAry[i].checked && chkBoxAry[i].name){
        postData.images.push(chkBoxAry[i].id);
      }
    }
    if(postData.images.length == 0){
      alert("Please select one or more images");
      return;
    }

    call_loader();

    fetch('/api/convert', {
      method: 'POST', 
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(postData),
    })
    .then(data => {
      console.log('Success:', data);
      window.location.reload();
    })
    .catch((error) => {
      console.error('Error:', error);
      remove_loader()
    });
  }

  //---------------------------------------------------
  function send_to_download(){
    var boxElm = document.getElementById('convertBox');
    var chkBoxAry = boxElm.getElementsByTagName('INPUT');
    
    var downloadFormat = document.getElementById("downloadFormat").value;
  
    var postData = {
      format: downloadFormat,
      images: []
    }

    for (let i = 0; i < chkBoxAry.length; i++) {
      if(chkBoxAry[i].checked && chkBoxAry[i].name){
        postData.images.push(chkBoxAry[i].id);
      }
    }
    if(postData.images.length == 0){
      alert("Please select one or more images");
      return;
    }

    call_loader();


    fetch('/api/download', {
      method: 'POST', 
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(postData),
    })
    .then(response => response.blob())
    .then(blob => {

      if(blob.type == 'text/html'){
        alert("something went wrong while downloading...")
        remove_loader();
        return;
      }

      var url = window.URL.createObjectURL(blob);
      var a = document.createElement('a');
      a.href = url;
      a.download = "converted_images."+downloadFormat;
      document.body.appendChild(a); 
      a.click();    
      a.remove();
      remove_loader();
    })
  }


  //---------------------------------------------------
  function send_delete(typ){
    var typMap = {
      "uploaded": "uploadBox",
      "converted": "convertBox"
    } 
    var boxId = typMap[typ];

    var boxElm = document.getElementById(boxId);
    var chkBoxAry = boxElm.getElementsByTagName('INPUT');
    var toDeleteAry = []
    for (let i = 0; i < chkBoxAry.length; i++) {
      if(chkBoxAry[i].checked && chkBoxAry[i].name){
        toDeleteAry.push(chkBoxAry[i].id);
      }
    }
    if(toDeleteAry.length == 0){
      alert("Please select one or more images");
      return;
    }

    // console.log(typ, toDeleteAry)
    call_loader();

    fetch('/api/'+typ, {
      method: 'DELETE', 
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(toDeleteAry),
    })
    .then(data => {
      console.log('Success:', data);
      window.location.reload();
    })
    .catch((error) => {
      console.error('Error:', error);
      remove_loader()
    });
  }


  

</script>

{% endblock %}